/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@mixin typography { 
  font-size:42px; line-height:37px; text-align:center; color: #fff; font-family: "Helvetica Neue", Arial, Sans-serif; font-weight:100;
}

body {
   background: url("/images/alfiebg.jpg") top center;
  span, h2, ul li a { display:block; clear: both; height: 130px; width: 200px; padding-top:70px; border:2px solid #fff; border-radius:100px; 
  @include typography;
  }   
  
  header { 
    margin: 0px auto; width: 600px;
    span { float: left; margin-top: 90px; height: 150px; width: 150px; padding: 0px; background: url("/images/paultagell.jpg") no-repeat; text-indent:-999em; clear: none;  }
    h1 { float:left; margin: 150px 0 0 30px;
    @include typography; 
    }
    h2 { margin: 200px 0 0 400px; clear: both; float:left; text-indent: -999em; 
      &:hover { text-indent: 0px; }
    }
  }
  
  section[role="main"] {
    margin: 0px auto; width: 600px;
    ul li { 
        float:left; position: relative; padding-right: 50px; 
        a { text-decoration: none; text-indent:-999em; 
          &:hover, &:focus { text-indent: 0em; background: rgba(255,255,255,0.2); border: 3px solid #f50; color: #f50; }
        }
    }
  }
}
  
  
