

<header>
  
  <span>Paul Tagell</span>
  <h1>I'm Paul</h1>
  <h2>This is Gandalf</h2>
</header>

<section role="main">
  <p class="circle">We spend our time</p>
  <ul role="navigation">
    <li><a href="#">making websites</a></li>
    <li><a href="#">tweeting</a></li>
    <li><a href="#">writing our blog</a></li>
  </ul>
</section>