

<header>
  
  <span>Paul Tagell</span>
  <h1>Hi, I'm Paul.</h1>
  <h2>This is Gandalf</h2>
</header>

<section role="main">
  <p>We spend our time</p>
  <ul role="navigation">
    <li><a class="websites" href="http://openday.unimelb.edu.au">making websites</a></li>
    <li><a class="tweeting" href="http://www.twitter.com/tagell">tweeting</a></li>
    <li><a class="blogging" href="http://paultagell.com">writing our blog</a></li>
  </ul>
</section>